* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  background: #000;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(38, 50, 127) 100%);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.todo-list {
  background-color: #F9F9F9;
  width: 100%;
  max-width: 27.5rem;
  padding: 3.125rem 1.25rem;
  border-radius: 1rem;
}

.main-list {
  display: flex;
  flex-direction: column;
}

.add-list {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.add-list__img {
  margin-bottom: 1.5rem;
}
.add-list__input {
  max-width: 19.1875rem;
  max-height: 2.6875rem;
  width: 100%;
  height: 100%;
  border: solid 1px #131730;
  border-radius: 1.5rem;
  padding: 1rem 0.75rem;
  text-align: center;
}
.add-list__input::placeholder {
  color: #8a8a8a;
}
.add-list__btn {
  max-width: 8.75rem;
  max-height: 3rem;
  background-color: #F55B64;
  width: 100%;
  height: 100%;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  color: #F9F9F9;
  font-family: "Numans", sans-serif;
  font-size: 1.125rem;
  margin: 0 0 1.5rem 0;
}

.buy-list__title {
  font-family: "Krona One", sans-serif;
  font-size: 1.25rem;
  color: #F55B64;
  border-bottom: dotted 3px #F55B64;
  padding: 0 0 0.5rem 0;
  margin: 0 0 1.5rem 0;
}

.buy-item {
  display: flex;
  flex-direction: column;
}
.buy-item__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-item__main-data {
  display: flex;
  align-items: center;
}
.buy-item__main-box {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.buy-item__box {
  display: none;
}
.buy-item__box:checked + .buy-item__box-label {
  background-image: url(../images/checkbox-done.svg);
  background-size: cover;
  background-color: #131730;
}
.buy-item__box-label {
  width: 1.25rem;
  height: 1.25rem;
  border: solid 2px #131730;
  display: inline-block;
  border-radius: 4px;
  background-color: #F9F9F9;
}
.buy-item__task {
  font-family: "Numans", sans-serif;
  font-size: 1rem;
  color: #131730;
}
.buy-item__custom {
  display: flex;
  gap: 0.5rem;
}
.buy-item__edit {
  width: 100%;
}
.buy-item__cancel {
  width: 100%;
}
.buy-item__date {
  color: #131730;
  font-family: "Numans", sans-serif;
  font-size: 0.75rem;
}

.done-list {
  display: flex;
  flex-direction: column;
}
.done-list__title {
  font-family: "Krona One", sans-serif;
  font-size: 1.25rem;
  color: #F55B64;
  border-bottom: dotted 3px #F55B64;
  padding: 0 0 0.5rem 0;
  margin: 2.5rem 0 1.5rem 0;
}

.purchased__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchased__main-data {
  display: flex;
  align-items: center;
}
.purchased__main-box {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.purchased__box {
  display: none;
}
.purchased__box:checked + .purchased__box-label {
  background-image: url(../images/checkbox-done.svg);
  background-size: cover;
  background-color: #131730;
}
.purchased__box-label {
  width: 1.25rem;
  height: 1.25rem;
  border: solid 2px #131730;
  display: inline-block;
  border-radius: 4px;
  background-color: #F9F9F9;
}
.purchased__task {
  text-decoration: line-through;
  font-family: "Numans", sans-serif;
  font-size: 1rem;
  color: #131730;
}
.purchased__custom {
  display: flex;
  gap: 0.5rem;
}
.purchased__edit {
  width: 100%;
}
.purchased__cancel {
  width: 100%;
}
.purchased__date {
  color: #131730;
  font-family: "Numans", sans-serif;
  font-size: 0.75rem;
}

.footer {
  margin: 1.1875rem 0 2.5rem 0;
}

/*# sourceMappingURL=styles.css.map */
