// colors
$main-color: #F9F9F9;
$secundary-color: #F55B64;
$tertiary-color: #C2373F;
$border-color: #131730;

// typography
// font family
$title-font: "Krona One", sans-serif;
$text-font: "Numans", sans-serif;

// font size
$title-size: 20;
$text-large-size: 18;
$text-size: 16;
$date-size: 12;

// font weight
$default-weight: 400;